/* le doy a mi body un margen externo e interno */
body{
    margin: 20px;
    padding: 10px;
}
/* caja mayor que contiene la imagen y el div de la notificacion */
.caja{
  
    height: 490px;
    margin: 50px;
    padding:50px ;
    background-color: rgba(255, 0, 0, 0.1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* imagen */
#sketchImg{
    width: 100px;
    border-radius: 50px;
    float: right;
}
/* mi div de notificacion y lo centro en el medio */
.notification{
    width: 300px;
    height: 350px;
    margin-bottom: 0;
    margin: 0 auto; /* asi centro un div */
    padding: 40px;
    border-radius: 5px;
    background-color: #fff;
   
}
/* le doy un tamaño a mi img */
.notification img{
    width: 80px;
    
}
/* boton sign up */
.boton{
    background-color: #0ABFBC;
    color: #fff;
    border-radius: 3px;
    width: 140px;
    height: 40px;
    border: none;
}
/* boton que vuelve al indice */
.btnVolver{
    margin: 30px;
    float: right; /* me pone el boton en la derecha */
}
.btnVolver button{
    width: 100px;
    height: 50px;
    background-color: #FE2E2E;
    border: none;
    border-radius: 100px;
}
.btnVolver button a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}